/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo:#F1F1F1;
   --cor-de-subtitle:#0de3ffe8;
   --cor-de-link: #000;
   --cor-de-borde:#E3E4E5;
   --cor-de-menu:#0000FF;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    
}
ol, ul,li {
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-fundo);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/





.preloader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.80;
    /*background: linear-gradient(rgb(91, 89, 121) 25%, rgb(43, 42, 110) 50%, rgb(33, 30, 73) 100%);*/
    z-index:-1;
}

.preloader__span{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.80;
    background: linear-gradient(rgba(170, 170, 172, 0.911) 0%, rgb(70, 70, 69) 25%, rgb(2, 1, 39) 75%, rgb(0, 0, 0) 100%);
    z-index:1;
}


.video{
   position:fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   z-index:-2;
   width: 200%;
   opacity:0.75;
   
}
/*Sección Menu*/
.menu__container {
    top:5rem;
    display:none;
    position: fixed;
    background-color: rgba(22, 21, 21, 1);
    z-index: 99; 
    }


.menu{
    position:fixed;
    top:2%;
    left:2%;
    z-index:99;
}

.menu__list{
    flex-direction: column-reverse;
    margin-left:16px;
    margin-bottom: 1rem;
    width: auto;
}

.menu__list__item *{
    padding: 10px 4px;
    color:var(--cor-de-fundo);
    justify-content: center;
}

.menu__list__item:hover *{ 
    color: var(--cor-de-menu);
    visibility: visible;
}

.tooltiptext{
  position:relative;
  
  width: 30px;
  margin-left: 1rem;
  background-color: transparent;
  color: var(--cor-de-fundo);
}

.menu__buttons{
    display:flex;
    position:fixed;
    height:95vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.top__button{
    border: 1px var(--cor-de-link) solid;
    border-radius:60px;
    color:var(--cor-de-link);
    padding:18px 20px;
    
}


.menu__button{
    
    border: 1px var(--cor-de-borde) solid;
    color:var(--cor-de-link);
    padding:18px 20px;
    
}

/*Sección Title*/
.title__div{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0 1rem 0 1rem; 
  object-fit: contain;  
    
}
.title__container{
    margin: 1rem 5rem 0 2rem;;
}
.title__bio{
    color:var(--cor-de-fundo);
    text-align: center;
    font-size: 50px;    
    line-height:1;
   text-shadow:2px 0px 5px var(--cor-de-subtitle);
    margin-bottom: 1rem;
}

.title__subsection{
    color:var(--cor-de-fundo);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:10px 5px 5px var(--cor-de-link);
    text-align: center;
    font-size: 30px;
    line-height: 1;
}
.title__profile__container{
    margin:2rem 10rem 0 0rem;
}

.title__profile{
    
    width:300px;
    height:300px;
    border-radius: 300px;
}

.title__nombre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:var(--cor-de-link);
    text-shadow:1px 3px 0px var(--cor-de-fundo);
    text-align: center;
    
}

.title__network__container{
    width:100%;
    margin-top:0rem;
    margin-bottom:1rem;
    
}

.title__epigrafe{
    color:var(--cor-de-fundo);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:1px 0px 2px var(--cor-de-borde);
    align-items: center;
    font-size: 28px;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
}

.title__network{
    font-size:48px;
    display:flex;
    margin-top: 2rem;
    box-sizing: content-box;
    justify-content: center;
}
.title__network__item{
    height: 50px;
    
    background:linear-gradient(rgb(29, 39, 185) 0%, rgb(29, 39, 185) 35%, rgb(0, 3, 19) 100%);
    filter:brightness(1.75);
    margin: 1rem;
}

.title__network__item:hover{
    color: rgba(118, 131, 182, 0.8);
    border: 1px solid white;
    
}

.icons *{
    display:inline-block;
    font:normal normal normal 40px/1 FontAwesome;
    color:rgb(255, 255, 255);
    text-rendering: auto;
    
}

.icons:hover{
    color:var(--cor-de-link);
}

/*Sección About*/

.about__container{
    color:var(--cor-de-fundo);
    padding:1px 0px 2px 18px;
    box-shadow: 0px 2px 20px 0px rgba(250, 248, 248, 1);

}

.about__paragraph{
    
    font-size: 30px;
    padding-right:2rem;
    padding-left:2rem;
    line-height: 1.8;
    font-family:'Raleway';
    text-align: justify; 
    text-shadow:1px 2px 0px var(--cor-de-link);
}

.about__title, .skills__title, .hobbies__title, .academic__title, .experience__section__title,.formcontato__title{
        color:var(--cor-de-link);
        font-size: 40px;
        font-family: 'Times New Roman';
        text-align:center;
        text-shadow:1px 1px 0px var(--cor-de-fundo);
}   
   
 .skills__line,.hobbies__line,.academic__courses{
    display:flex;
    flex-wrap: wrap;
    padding: 5px;
    margin:10px;
    box-shadow: 2px 2px 10px 3px rgba(0, 102, 255, 0.9);
    justify-content: center;
}

.skills__box__element,.hobbies__box__element{
    display:flex;
    flex-direction: column;
    box-shadow: 1px 3px 4px 2px rgba(255, 255, 255, 0.8);
    justify-content: space-around;
    align-items: center;
    gap:2rem;
    width:150px;
    height:150px;
    color:var(--cor-de-fundo);
    object-fit:cover;
    margin:3rem;
    background:linear-gradient(#212122,#9198e5);
}


.academic__courses__box{
    background:var(--cor-de-fundo);
    display:flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    justify-content: space-around;
    align-items: center;
    /*gap:2;*/
    width:auto;
    height:auto;
    padding:5px;
    object-fit: cover;
    text-align: center;
    margin:5rem;
}
/* experiencia*/


.experience__info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.8);
    padding:2rem;
    margin:2rem;
    color:var(--cor-de-link);
    
}
.experience__img{
    width:80vw;
    margin-bottom: 2rem;
}

.expirience__description{
    position:relative;
	box-sizing: border-box;
	border-color:#ffffff;
	border-radius: 12px;
	border-width:2px;
	font-family: 'Inter';
	font-style: normal;
	text-align: center;
	background:#FFFFFF55;
}




/*Contacto*/
.formcontato__title{
    margin:0px;
}
.formcontato__contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formcontato--esquerda{
    width:60%;
    margin-top:5rem;
    margin-right:1rem;
}

.formcontato__img{
    width:80%;
    height:80%;
}
.formcontato__subtext{
    text-shadow:1px 1px 0px var(--cor-de-link);
    color:var(--cor-de-fundo);
    text-align: justify;
    margin:0 1rem 0 1rem
}

.formcontato__form{
    display:flex;
    flex-direction: column;
    
    gap:1.5rem;
    margin:0 1rem 0 1rem;     
}
.formcontato__input{
    width:100%;    
    min-height: 2rem;
}

.formcontato__textarea{
    width:100%;
}

.input--error{
    display:block;
    margin-top: 0.1rem;
    padding-left: 0.5rem;
    font-size: 0.85rem;
    color: red;
}


.formcontato__botao{
    width:120px;
    height:40px;
       
    border-radius: 15px;
    border-color: rgba(255, 1, 1, 1);
    
}


/*footer*/

section.footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(219, 219, 226);
    text-align: center;
    font-size: 15px;
    text-shadow: 2px 2px 20px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(15, 15, 15);
    

}


.formcontato__send{
    width:400px;
    box-shadow: 2px 2px 40px 0px rgba(0, 102, 255, 0.8);
    border-radius: 6px;
    position:relative;
    top:-300px;
    left:40%;
    transform: scale(0.01);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;  
    background: var(--cor-de-fundo); 
    transition: transform 0.6s, top 0.4s;
    visibility: hidden;
    
    
    
  }
  
  .formcontato__send--open{
    visibility: visible;
    
    transform: scale(1);
  }
 
  .formcontato__send__img {
    width:100px;
    margin-top:-70px;
    border-radius:50%;
    content:url("assets/check-icon.png");
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
  }
  
  .formcontato__send__text {
    font-weight: 500;
    margin: 10px 0 20px;  
  }
  
  .formcontato__send__buttom{
    width:30%;
    padding:5px;
    background: rgba(0, 102, 255, 0.8);
    outline:none;
    border:1px white solid;
    font-size:18px;
    border-radius: 6px;
    cursor:pointer;
  }


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 768px) {

.video{
        width: 300%;
}
/* Menú */

.tooltiptext{
    color:var(--cor-de-menu);
    visibility:visible;
}
/*title*/
.title__container{
    flex:33%;
    margin-left:1rem;
}

.title__epigrafe{
   font-size: 22px;
} 

.title__network__container{
    margin-bottom:0rem;
}


/*Skills*/
.skills__line,.hobbies__line,.academic__courses{
    flex:33%;
    justify-content: center;
}


/*Hobbies*/
/*Formación Académica*/
/*Experiencia Profesional*/
.formcontato--esquerda{
    display:none;
}

.formcontato__text{
    width:100%;
}

.formcontato__img{
    width:100%;
    height:100%;
}

}
/*Mobile*/
@media (min-width: 350px) {
.video{
    width: 700%;
}
/*Menu*/
.top__button{
    color:var(--cor-de-link);
       
}

.tooltiptext{
    color:var(--cor-de-menu);
    visibility:visible;
}
/*Titulo*/
.title__div{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.title__container{
    text-align: center;
    margin:0;
}

/*Sección sobre mi*/
.about__paragraph{
    padding-right:15px;
    padding-left:3px;
    line-height: 1.2;
    font-family:'Raleway';
    text-align: justify; 
    text-shadow:1px 2px 0px var(--cor-de-link);
}
/*Skills*/
.skills__box__element,.hobbies__box__element{
    width:100px;
    height:100px;
}


/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/



/*Footer*/

}